/* https://github.com/pure-css/pure/blob/d35fb6fcbcd888da11a7215fe61d1efeda374699/site/static/layouts/side-menu/styles.css#L50-L74 */


@media (prefers-color-scheme: dark) {
}

@media (min-width: 48em) {
    .header {
        min-height: 100vh;
    }
}

.header {
    background-color: aquamarine;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.content {
    padding: 1em;
}

/* -------------------------------------------------------------------------- */

/* index.html - post - copied from pure-layout-blog.css */

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    /* font-family: Georgia, "Cambria", serif; */
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

/* -------------------------------------------------------------------------- */

.article_header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}
    .article_header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
    .article_header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }


.article_content + :is(h1, h2, h3, h4, h5, h6) {
        margin: 50px 0 20px 0;
        font-weight: 300;
        color: #888;
    }
/*
@media (min-width: 48em) {
    .article .header,
    .article .content {
        padding-left: 2em;
        padding-right: 2em;
    }
}
*/